body {
  font-family: "Kalam", cursive;
}

.container-wrapper {
    background-color: black;
    color: white;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    color: #fd0000;
    background-color: white;
    border-color: black;
}

.lead mark{
    background-color: red;
    color: white;
}

.callout-container {
  height: 100vh;

  background: url(https://raw.githubusercontent.com/Code-Institute-Solutions/BootstrappingYourNextBigIdea-BS4/master/04-BeyondBootstrap/01-updating_our_callout/images/whiskey-background.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

/*Page headers*/

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/*Block Dividers*/

.block-divider {
    width: 50%;
    height: 5px;
    border: 0;
    background-color: red
}

.block-divider--short {
    width: 25%;
}

/*Content containers*/

.content-container {
    padding-top: 75px;
    padding-bottom: 
}

/*Navbar*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-dark .navbar-brand {
    font-weight: bold;
    color: red;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: red;
}

a {
    color: red;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: white;
    text-decoration: underline;
}

/*Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 29px;
    color:white;
}

.jumbotron .lead .d-none {
    color: red;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/*Buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: red;
    border-color: red;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    color: red;
    background-color: white;
    border-color: white;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
    color: red;
}

.feature .btn {
    background-color: red;
    border-color: red;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

.badge--red {
    background-color: red
}